*.pyc
.cache-*
.caches*
.config.yml
concertista/spotify_creds.py

# py2app
.eggs/*
venv/*
icon.icns
dist/*
build/*
# pyinstaller
*.spec

# garbagge created by me
tmp/*

# code coverage
.coverage
coverage.xml
htmlcov/*

# docs
docs/_build/*
